root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[{.*,*.{json,md,yml}}]
indent_size = 2
indent_style = space

[*.md]
trim_trailing_whitespace = false

[{CONTRIBUTING.md,LICENSE.md}]
indent_size = 3

[{/packages/*/*.{js,map,mjs},**/node_modules/**}]
charset = none
end_of_line = none
insert_final_newline = none
trim_trailing_whitespace = none
indent_style = none
indent_size = none
